body{
    margin: 0; 
    padding-bottom: 3rem; 
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}
.title{
    background: linear-gradient(to right, #95c0d4, #ebdff1);
    padding: 10px; font-size: 2ex; font-weight: bold; 
}
#chats{
    background-color: #cfe3ec;
    margin-bottom: 200px;
}
#form{
    background: linear-gradient(to left, #95c0d4, #ebdff1); 
    padding: 0.25rem; 
    position: fixed; 
    bottom: 0; left: 0; right: 0; 
    display: flex; height: 3rem; 
    box-sizing: border-box; 
    backdrop-filter: blur(10px); 
}
#input{
    border: none; 
    padding: 0 1rem;
    flex-grow: 1; 
    border-radius: 2rem; 
    margin: 0.25rem;   
}
#input:focus { outline: none; }
#send{
    background: #333; 
    border: none; 
    padding: 0 1rem;
    margin: 0.25rem;
    border-radius: 3px; 
    outline: none; 
    color: #fff; 
}
#message{list-style-type: none; margin: 0; padding: 0; }
#message>li {padding: 0.5rem 1rem;}
#messages>li:nth-child(odd) { background: #efefef; }

